body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container div {
  box-sizing: border-box;
}

.nav-bar {
  height: 10vh;
  background-color: #2e786a;
  font-size: 1.5em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 3px #1f675a;
}
.nav-bar a {
  color: #cbb5ea;
}

.nav-bar a:hover {
  color: #9f98f0;
}

.footer{
  height:10vh;
  background-color:#393535;
  padding:20px;
  text-align:center
}
.footer img{
  width: 200px;
  height: auto;
}

.rate-pale {
  color: rgb(179, 170, 170);
}
.rate-grey {
  color: rgb(100, 95, 95);
}
.rate-red {
  color: red;
}

.tags {
  border: 1px solid #615b5b;
  padding: 3px 5px;
  border-radius: 7px;
  margin-bottom: 10px;
}
