.galleryStyle {
  min-height: 80vh;
  background-color: #2d7064;
  font-size: 0.9em;
  padding: 20px;
}
 h1.gallery {
  color: rgb(119, 216, 199);
  text-align: center;
  margin-bottom: 0;
}

h1.gallery + p{
  text-align: center;
  margin-top: 5px;  
  color: #aeaef0;
}
h1.gallery + p span{
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
h1.gallery + p span.selected{
  color: #d0f11d;
  text-decoration: none;
}

.tileStyle {
  background-color: #255e54;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
